﻿@using EnterpriseAppMvc.Domain.Entities

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
        <div class="container">
            <div class="page-header text-center">
                <h1>Invoice Home</h1>
            </div>
        </div>
        @if (Session["UserAccount"] != null)
        {
            User user = Session["UserAccount"] as User;
            <div class="text-center">

                <h3 style="color:green">@ViewBag.message</h3>

                <label>Welcome, @user.Username</label><br /><br />
                <div> @Html.ActionLink("Add New Invoice", "InvoiceEntry", null, new { @class = "btn btn-success" } ) </div><br />

                @if (user.Type >= UserType.Manager)
                {
                    <div> @Html.ActionLink("View Outstanding Invoices", "ViewInvoices", null, new { @class = "btn btn-success" }) </div><br />
                }
                <div> @Html.ActionLink("Logout", "Logout", null, new { @class = "btn btn-primary" }) </div>



            </div>
        }
        else
        {
            <h3 class="text-center" style="color: red;">ERROR 403: You are currently not authenticated. Please <a href="../UserAccount/Index">return</a> to the login screen</h3>
        }
</body>
</html>
