﻿@using EnterpriseAppMvc.Domain.Entities;
@model Invoice

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice Entry</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>

@if (Session["UserAccount"] != null)
{
    <div class="container">
        <div class="page-header text-center">
            <h1>@ViewBag.title</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="well well-sm">
                <div class="form-horizontal">
                    @using (Html.BeginForm("InvoiceEntry", "Invoice", "Post"))
                    {
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="ClientName">Client Name</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.ClientName, new { @class = "form-control", @id = "ClientName" }) @Html.ValidationMessageFor(x => x.ClientName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="ClientAddress">Address</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.ClientAddress, new { @class = "form-control", @id = "ClientAddress" }) @Html.ValidationMessageFor(x => x.ClientAddress)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="ShipmentDate">Shipment Date</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(x => x.ShipmentDate, new { htmlAttributes = new { @class = "form-control" } }) @Html.ValidationMessageFor(x => x.ShipmentDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="PaymentDueDate">Payment Date</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(x => x.PaymentDueDate, new { htmlAttributes = new { @class = "form-control" } }) @Html.ValidationMessageFor(x => x.PaymentDueDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="ProductName">Product Name</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", @id = "ProductName" }) @Html.ValidationMessageFor(x => x.ProductName)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="Quantity">Quantity</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control", @id = "ProductName" }) @Html.ValidationMessageFor(x => x.Quantity)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="UnitPrice">Unit Price</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.UnitPrice, new { @class = "form-control", @id = "UnitPrice" }) @Html.ValidationMessageFor(x => x.UnitPrice)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="Currency">Currency</label>
                            <div class="col-sm-8">
                                @Html.DropDownListFor(x => x.CurrencyType, new SelectList(Enum.GetNames(typeof(Currency))), new { @class = "form-control" })
                            </div>
                        </div>
                        if (ViewBag.isReviewing == true)
                        {
                            @Html.HiddenFor(x => x.InvoiceNumber)
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Subtotal">Subtotal:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"  disabled id="Subtotal" value="$@Model.InvoiceSubTotal()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Tax">Tax (10%)</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" disabled value="$@Model.InvoiceTax()" id="Tax" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Total">Total</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" disabled value="$@Model.InvoiceTotal()" id="Total" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="Mark">Mark As Paid</label>
                                <div class="col-sm-8">
                                    <div id="Mark">@Html.CheckBoxFor(x => x.Paid)</div>
                                </div>
                            </div>
                        }
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="submit"></label>
                            <div class="col-sm-8">
                                <input type="submit" class="btn btn-success" value="@ViewBag.submitBtn" id="submit" />
                            </div>
                        </div>
                        

                    }
                </div>
            </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
}
else
{
    <div class="container">
        <div class="page-header text-center">
            <h1>Invoice Entry</h1>
        </div>
        </div>

    <h3 class="text-center" style="color: red;">ERROR 403: You are currently not authenticated. Please <a href="../UserAccount/Index">return</a> to the login screen</h3>
}
</body>
</html>
