﻿@using EnterpriseAppMvc.Domain.Entities
@model IEnumerable<Invoice>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewInvoices</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="page-header text-center">
            <h1>Outstanding Invoices</h1>
        </div>
    </div>
    <div>@{
        User user = (Session["UserAccount"]) as User;

        <h4 class="text-center" style="color: green;">@ViewBag.message</h4>
        if ((Session["UserAccount"]) != null)
        {
            if (user.Type >= UserType.Manager)
            {
                decimal total = 0;
        <table class="table table-striped">
            <thead>
                <tr><th>Invoice Number</th><th>Client Name</th><th>Payment Due Date</th><th>Invoice Total</th></tr>
            </thead>
            <tbody>
                @foreach (Invoice inv in Model)
                {
                    <tr>
                        @using (Html.BeginForm("ManageInvoice", "Invoice", "Post"))
                        {
                            <th><input type="submit" value="@inv.InvoiceNumber" /></th>
                            <td><input type="submit" value="@inv.ClientName" /></td>
                            @Html.Hidden("TrackingNum", inv.InvoiceNumber)

                        }
                        <td>@inv.PaymentDueDate.ToString("dd-MMMM-yyyy")</td>
                        <td>@inv.CurrencyType $@inv.InvoiceTotal()</td>
                    </tr>
                    total += inv.InvoiceTotal();

                }
            </tbody>
            <tfoot>
                <tr>
                    <td>@Html.ActionLink("Return Home", "Home", null, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("Add Invoice", "InvoiceEntry", null, new { @class = "btn btn-success" })</td>
                    <th>Total:</th>
                    <th>$@total</th>
                </tr>
            </tfoot>
        </table>
            }

        }
        else
        {

            <div class="text-center">
                <h3 class="text-center" style="color: red;">ERROR 403: You are currently not authenticated. Please <a href="../UserAccount/Index">return</a> to the login screen</h3>
            </div>
            }

        }</div>
</body>
</html>
