﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron text-center">
        <h3>Assignment 4 - Persistence with the Entity Framework</h3>
        <h4>Michael Webster</h4>
        <h4>PROG30000 - Enterprise Software Systems</h4>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="well well-sm">
                    @using (Html.BeginForm("Login", "UserAccount", "Post"))
                    {
                        <p class="text-center "><b>Please Enter Your Credentials</b></p>
                        <label>Username: </label>
                        <div class="input-group">

                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBox("Username", "", new { @class = "form-control", @placeholder = "Username" })<br />
                        </div>
                        <br />
                        <label>Password:</label>
                        <div class="input-group">

                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @Html.Password("Password", "", new { @class = "form-control", @placeholder = "Password" })<br />
                        </div>
                        <br />
                        <div class="text-center">
                            <input type="submit" value="Login" class="btn btn-primary" name="Login" data-toggle="tooltip"/>
                        </div>
                        if (ViewBag.message != null)
                        {
                            <br /><p style="color:red" class="text-center"><b>@ViewBag.message</b></p>
                        }
                    }
                </div>
            </div>
            <div class="col-md-3"></div>
            @Html.ActionLink("Create Account","CreateAccount", null, new { @class = "btn btn-success"})
        </div>
        </div>
</body>
</html>
